-- PostgreSQL Schema Generated from SQLite

-- Table: products
DROP TABLE IF EXISTS products CASCADE;
CREATE TABLE products (
    "id" SERIAL PRIMARY KEY,
    "name" VARCHAR(255) NOT NULL,
    "sku" TEXT,
    "barcode" TEXT,
    "description" TEXT,
    "category" TEXT,
    "unit" TEXT,
    "cost_price" TEXT DEFAULT 0.00,
    "selling_price" TEXT DEFAULT 0.00,
    "price" TEXT DEFAULT 0.00,
    "quantity" INTEGER DEFAULT 0,
    "reorder_level" INTEGER DEFAULT 0,
    "expiry_date" DATE,
    "store_id" INTEGER,
    "active" BOOLEAN DEFAULT TRUE,
    "created_at" TEXT DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TEXT DEFAULT CURRENT_TIMESTAMP
);

-- Table: regions
DROP TABLE IF EXISTS regions CASCADE;
CREATE TABLE regions (
    "id" SERIAL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "description" TEXT,
    "regional_manager" TEXT,
    "manager_email" TEXT,
    "manager_phone" TEXT,
    "timezone" TEXT DEFAULT 'UTC',
    "active" BOOLEAN DEFAULT TRUE,
    "created_at" TEXT DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TEXT DEFAULT CURRENT_TIMESTAMP
);

-- Table: sale_items
DROP TABLE IF EXISTS sale_items CASCADE;
CREATE TABLE sale_items (
    "id" SERIAL PRIMARY KEY,
    "sale_id" INTEGER NOT NULL,
    "product_id" INTEGER NOT NULL,
    "quantity" INTEGER NOT NULL,
    "unit_price" TEXT NOT NULL,
    "discount_amount" TEXT DEFAULT 0.00,
    "subtotal" TEXT NOT NULL,
    "created_at" TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Table: sales
DROP TABLE IF EXISTS sales CASCADE;
CREATE TABLE sales (
    "id" SERIAL PRIMARY KEY,
    "sale_number" TEXT,
    "store_id" INTEGER,
    "user_id" INTEGER,
    "customer_name" TEXT,
    "customer_email" TEXT,
    "customer_phone" TEXT,
    "subtotal" TEXT DEFAULT 0.00,
    "tax_amount" TEXT DEFAULT 0.00,
    "discount_amount" TEXT DEFAULT 0.00,
    "total_amount" TEXT DEFAULT 0.00,
    "payment_method" TEXT DEFAULT 'cash',
    "payment_status" TEXT DEFAULT 'completed',
    "notes" TEXT,
    "created_at" TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Table: shift_logs
DROP TABLE IF EXISTS shift_logs CASCADE;
CREATE TABLE shift_logs (
    "id" SERIAL PRIMARY KEY,
    "staff_id" INTEGER,
    "date" DATE,
    "start_time" TIME,
    "end_time" TIME,
    "break_minutes" INTEGER DEFAULT 0,
    "total_hours" TEXT DEFAULT 0.00,
    "created_at" TEXT DEFAULT CURRENT_TIMESTAMP
);

-- Table: sqlite_sequence
DROP TABLE IF EXISTS sqlite_sequence CASCADE;
CREATE TABLE sqlite_sequence (
    "name" TEXT,
    "seq" TEXT
);

-- Table: sqlite_stat1
DROP TABLE IF EXISTS sqlite_stat1 CASCADE;
CREATE TABLE sqlite_stat1 (
    "tbl" TEXT,
    "idx" TEXT,
    "stat" TEXT
);

-- Table: stock_movements
DROP TABLE IF EXISTS stock_movements CASCADE;
CREATE TABLE stock_movements (
    "id" SERIAL PRIMARY KEY,
    "product_id" INTEGER NOT NULL,
    "user_id" INTEGER,
    "store_id" INTEGER,
    "movement_type" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "reference" TEXT,
    "notes" TEXT,
    "created_at" TEXT DEFAULT CURRENT_TIMESTAMP
);

-- Table: store_alerts
DROP TABLE IF EXISTS store_alerts CASCADE;
CREATE TABLE store_alerts (
    "id" SERIAL PRIMARY KEY,
    "store_id" INTEGER,
    "product_id" INTEGER,
    "alert_type" TEXT,
    "title" VARCHAR(255),
    "message" TEXT,
    "priority" TEXT DEFAULT 'medium',
    "is_resolved" BOOLEAN DEFAULT FALSE,
    "resolved_at" TEXT,
    "created_at" TEXT DEFAULT CURRENT_TIMESTAMP
);

-- Table: store_performance
DROP TABLE IF EXISTS store_performance CASCADE;
CREATE TABLE store_performance (
    "id" SERIAL PRIMARY KEY,
    "store_id" INTEGER,
    "metric_date" DATE,
    "daily_sales" TEXT DEFAULT 0.00,
    "customer_count" INTEGER DEFAULT 0,
    "avg_transaction_value" TEXT DEFAULT 0.00,
    "staff_rating" TEXT DEFAULT 0.00,
    "inventory_turnover" TEXT DEFAULT 0.00,
    "total_sales" TEXT DEFAULT 0.00,
    "avg_rating" TEXT DEFAULT 0.00,
    "last_updated" TEXT DEFAULT CURRENT_TIMESTAMP,
    "created_at" TEXT DEFAULT CURRENT_TIMESTAMP
);

-- Table: store_staff
DROP TABLE IF EXISTS store_staff CASCADE;
CREATE TABLE store_staff (
    "id" SERIAL PRIMARY KEY,
    "store_id" INTEGER,
    "user_id" INTEGER,
    "name" TEXT NOT NULL,
    "position" TEXT,
    "is_manager" BOOLEAN DEFAULT FALSE,
    "hire_date" DATE,
    "hourly_rate" TEXT DEFAULT 0.00,
    "active" BOOLEAN DEFAULT TRUE,
    "created_at" TEXT DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TEXT DEFAULT CURRENT_TIMESTAMP
);

-- Table: stores
DROP TABLE IF EXISTS stores CASCADE;
CREATE TABLE stores (
    "id" SERIAL PRIMARY KEY,
    "name" VARCHAR(255) NOT NULL,
    "code" TEXT,
    "address" TEXT,
    "city" TEXT,
    "state" TEXT,
    "zip_code" TEXT,
    "phone" TEXT,
    "email" TEXT,
    "manager_name" TEXT,
    "description" TEXT,
    "latitude" TEXT,
    "longitude" TEXT,
    "region_id" INTEGER,
    "store_type" TEXT DEFAULT 'retail',
    "status" TEXT DEFAULT 'active',
    "operating_hours" TEXT,
    "max_capacity" INTEGER DEFAULT 0,
    "store_size" TEXT DEFAULT 0.00,
    "opening_date" DATE,
    "timezone" TEXT DEFAULT 'UTC',
    "contact_person" TEXT,
    "emergency_contact" TEXT,
    "last_inventory_update" TEXT,
    "active" BOOLEAN DEFAULT TRUE,
    "created_at" TEXT DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TEXT DEFAULT CURRENT_TIMESTAMP,
    "firebase_id" TEXT,
    "manager" TEXT,
    "has_pos" BOOLEAN DEFAULT FALSE,
    "pos_terminal_id" TEXT,
    "pos_type" TEXT DEFAULT 'quick_service'
);


-- Grant permissions
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO inventory_user;
GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public TO inventory_user;
